.dashboard {
  padding: 80px;
  background-color: #f8f8f8;
}

.dashboard h1 {
  font-weight: 800;
  font-size: 24px;
  color: #777b7d;
}
.col1{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.col2{
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
}
.budget{
  display: flex;
  /* flex-direction: column; */
}
.pend{
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
}
.pending{
  display: flex;

}
