@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700&display=swap');

:root {
  --primary:#5FDB89;
  --background: #F5FCFF;
  --secondary: #02ee18;
  --red: #F16A4E;
  --text: #777B7D;
}

.primary{
  color: var(--primary);
}

.secondary{
  color: var(--secondary);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* overflow: hidden; */
}

ul{
  list-style-type: none;
}

a{
  text-decoration: none;
  color: #333;
}

.container{
  max-width: 1248px;
  margin: auto;
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Plus Jakarta Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

/* TYPOGRAPHY */
h1{
  font-size: 3.5rem;
  line-height: 1.2;
}

h2{
  font-size: 2.4rem;
  line-height: 1.2;
}

h5{
  font-size: 1.1rem;
}

p{
  font-size: 1.2rem;
}


@media screen and (max-width: 758px) {
  h1{
    font-size: 2.1rem;
    line-height: 1.2;
  }
  
  h2{
    font-size: 1.4rem;
    line-height: 1.2;
  }
  
  h5{
    font-size: 1.1rem;
  }
  
  p{
    font-size: 1rem;
  }

  .btn{
    width: 100%;
    margin: 1rem 0;
  }

  input{
    width: 100%;
  }
}